.auth-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    max-width: 360px;
    height: 600px;
    border-radius: 10px;
    padding: 40px;
    /* margin-top: 10px; */
  }
  
  .close-icon {
    padding: 0px;
    width: 30px;
    height: 28px;
    font-size: 1.2rem;
    color: var(--grey-color);
    float: right;
    border: solid 3px var(--grey-color);
    border-radius: 100%;
    cursor: pointer;
  }
  
  .auth-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-modal input[type="password"],
  input[type="email"],
  input[type="password-check"] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
  }
  